---
const pageTitle = "Sobre mi";
---

<html lang="es">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>

	<a href="/">Inicio</a>
	<a href="/blog">Blog</a>
		<h1>Mi sitio en Astro</h1>
		<h1>algo sobre mi...</h1>
		<h2>Esto se va a descontrolar</h2>
			cada vez que se haga uncambio lo veremos en vivo
		<p>

		</p>
	</body>
</html>
