---
const pageTitle = "Inicio"
const identity = {
	firstName: "Juan",
	country: "Ecuador",
	occupation: "Musician",
	hobbies: ["programacion", "magia", "comer"],
};

const skills = ["HTML", "CSS", "JavaScript", "React", "Astro"];
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
import Saludo from '../components/Saludo.astro';

---

<html lang="es">
	<head>
<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
	<Navigation/>
		<h1>Astro</h1>
		<h1>Mi sitio Astro</h1>
		<Saludo/>
		<h2>Esto se va a descontrolar</h2>
<Footer/>
	</body>
</html>
